<!DOCTYPE html>

<html lang="en">

<head>
  {%load static %}



  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--link rel="stylesheet" href="{% static 'css/styles.css' %}"-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Wufa</title>

  <link rel="icon" type="image/png" class="rounded-2" sizes="16x16" href="{% static 'img/Logo1.png' %}">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap");

    .redressed {
      font-family: "Redressed", serif;
    }

    .merriweather {
      font-family: "Merriweather", serif;
    }

    .video-container {
      margin-bottom: 15px;
    }
  </style>
</head>

<body class="bg-dark">

  <section class="container redressed" style="margin-top: 3em; margin-bottom: 2em; font-size: 1.3em; ">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">


        <div class="card text-center  border-2 redressed bg-transparent" style="border: solid 0.1px white;">

          <div class="card-header bg-light">
            <a href="{% url 'home' %}">Home- > </a>
          </div>



          <div class="card-header bg-light ">
            <ul class="nav nav-tabs card-header-tabs text-center">
              <li class="nav-item border-1" style="">
                <a class="nav-link " href="{% url 'login' %}">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="{% url 'register' %}">Create New account</a>
              </li>


            </ul>
          </div>
          <div class="card-body">

            <h5 class="card-title"></h5>

            <form action="{% url 'register' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">

                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user pb-2"></i></span>
                    </div>
                    <input type="text" class="form-control merriweather" placeholder="First name" id="firstname"
                      name="firstname" required>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">

                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user pb-2"></i></span>
                    </div>
                    <input type="text" class="form-control merriweather" placeholder="Last Name" id="lastname"
                      name="lastname" required>
                  </div>
                </div>
              </div>




              <div class="input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at pb-2"></i></span>
                </div>

                <input type="email" class="form-control merriweather" placeholder="Email" aria-label="Email"
                  aria-describedby="basic-addon1" name="email" required>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key pb-2"></i></span>
                </div>
                <input type="password" id="passwordInput1" class="form-control merriweather" id="exampleInputPassword1"
                  placeholder="Password" name="password1" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePasswordBtn1">
                  <i class="fas fa-eye"></i>
                </button>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key pb-2"></i></span>
                </div>
                <input type="password" id="passwordInput2" class="form-control merriweather" id="pass2"
                  placeholder="Confirm Password" name="password2" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePasswordBtn2">
                  <i class="fas fa-eye"></i>
                </button>
              </div>

              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-briefcase pb-2"></i></span>
                    </div>
                    <input type="text" class="form-control merriweather" placeholder="Métier" id="job" name="job"
                      required>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone pb-2"></i></span>
                    </div>
                    <input type="tel" class="form-control merriweather" placeholder="Numéro de téléphone" id="phone"
                      name="phone" required>
                  </div>
                </div>
              </div>




              <button type="submit" class="btn btn-primary  px-5 mt-3" style="border-radius: 1em;">Submit</button>
            </form>




          </div>
          <div class="card-footer text-muted bg-light">
            <div class="row">
              <div class="col">
                <a href="{% url 'login' %}"> Login</a>
              </div>

            </div>

          </div>
        </div>


      </div>
      <div class="col-md-3"></div>
    </div>
  </section>

  <script>
    document.getElementById('togglePasswordBtn1').addEventListener('click', function () {
      var passwordInput = document.getElementById('passwordInput1');
      var icon = document.querySelector('#togglePasswordBtn1 i');

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = "password";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    });

    document.getElementById('togglePasswordBtn2').addEventListener('click', function () {
      var passwordInput = document.getElementById('passwordInput2');
      var icon = document.querySelector('#togglePasswordBtn2 i');

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = "password";
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script defer>
    {% autoescape off %}
    {% for ms in messages %}
    swal('{{ms|safe}}');
    {% endfor %}
    {% endautoescape %}
  </script>


</body>

</html>